AI_BACKEND_PORT=8787
AI_BACKEND_ALLOWED_ORIGIN=*
FLOWISE_BASE_URL=http://192.168.1.77:3002
FLOWISE_CHATFLOW_ID=
FLOWISE_GAMMES_CHATFLOW_ID=
FLOWISE_API_KEY=
LITELLM_BASE_URL=http://192.168.1.77:4000
LITELLM_API_KEY=
LITELLM_MODEL=fast
GAMMES_SOURCE_DIR="E:\\Lift\\OneDrive_2026-03-16\\104_GAMME D'ASSEMBLAGE"
GAMMES_OUTPUT_DIR="E:\\Lift\\gmao-sav\\server\\generated\\gammes-kb"
VITE_AI_API_BASE_URL=
VITE_AI_PROXY_TARGET=http://localhost:8787
